<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> {{version}}
  </div>
  <strong>Copyright &copy; 2017-2018 <a href="{{author.url}}" target="_blank">{{author.name}}</a>.</strong> All rights reserved.
</footer>