<ul class="sidebar-menu" data-widget="tree">
  <li class="header">SYSTEM</li>
  <li class="treeview">
    <a href="/dashboard">
      <i class="fa fa-dashboard"></i> <span>Dashboard</span>
    </a>
  </li>
  <li class="treeview">
    <a href="/images">
      <i class="fa fa-list"></i> <span>Images</span>
    </a>
  </li>
</ul>